################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Practice_PhysX/.vs/Practice_PhysX/v16
/Practice_PhysX/03_SplitFetchResults/x64/Debug
